BasedOnStyle: Microsoft
IndentWidth: 2
ColumnLimit: 140
PointerAlignment: Left
DerivePointerAlignment: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: Inline
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent