# IDEs
.vs/
.vscode/

# Python
**/__pycache__/
**/__version__.py/
**/whisper-stream/
.env
**/.env/

# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Model_temp/
Platforms/
Plugins/**/Binaries/
Plugins/**/Content/
Plugins/**/Intermediate/
Saved/

# Misc
# status file is ofthen use to dump some information about the project
status.txt